gtk_color_scheme = "bg_selected:#11ffeb\nbg_normal:#202020\nfg_normal:#f5f5f5\nfg_selected:#ffffff\n"

style "synapse"
{
	bg[NORMAL] = @bg_normal
	bg[SELECTED] = @bg_normal
	fg[NORMAL] = @fg_normal
	fg[SELECTED] = @fg_normal
	
	base[NORMAL] = lighter (lighter (@bg_normal))
	text[NORMAL] = @fg_normal

	engine "murrine"
	{
		contrast = 0.6
		arrowstyle = 2
		reliefstyle = 3
		highlight_shade = 1.0
		glazestyle = 0
		gradient_shades = {1.2, 1.0, 1.0, 0.8}
		roundness = 4
		lightborder_shade = 1.26
		lightborderstyle = 1
		separatorstyle = 1
	}
	
	SynapseGuiView :: border-radius = 14
	SynapseGuiView :: shadow-size = 10
	
	SynapseGuiViewEssential :: ui-width = 500
	SynapseGuiViewEssential :: icon-size = 96
	SynapseGuiViewEssential :: title-size = "large"
	SynapseGuiViewEssential :: title-min-size = "medium"
	SynapseGuiViewEssential :: description-size = "small"
	SynapseGuiViewEssential :: description-min-size = "small"
	
	SynapseGuiViewDoish :: pane-spacing = 30
	SynapseGuiViewDoish :: icon-size = 140
	SynapseGuiViewDoish :: title-size = "large"
	SynapseGuiViewDoish :: title-min-size = "small"
	SynapseGuiViewDoish :: description-size = "medium"
	SynapseGuiViewDoish :: description-min-size = "medium"
}

widget_class "*SynapseGuiView*" style "synapse"