<VirtualHost *:{{ web.httpd_port }}>
    ServerName {{ web.domain }}
    DocumentRoot {{ web.project_path }}/web

    DirectoryIndex {{ web.directory_index }}

    <Directory "{{ web.project_path }}/web">
        Options -Indexes +FollowSymLinks +SymLinksifOwnerMatch
        AllowOverride All
        Allow from All
        Require all granted
    </Directory>

</VirtualHost>
